<div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "samuel-zeller-487534-unsplash.jpg" %>);">
  <div class="row">
    <div class="col-xs-12"><h1>Check out my amazing cocktails</h1></div>
  </div>
  <div class="row">
    <ul>
      <% @cocktails.each do |cocktail| %>
      <div class = "col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/samuel-zeller-487534-unsplash.jpg');">>
          <li class="card-description"><h2><%= link_to cocktail.name.capitalize, cocktail_path(cocktail.id) %></h2></li>
        </div>
      </div>
      <% end %>
    </ul>
  </div>

  <p><%= link_to "Create a new cocktail", new_cocktail_path %></p>
</div>
