<div class="container">
  <div class="row navbar">
    <div class="col-xs-12"><h1>What's your poison?</h1></div>
  </div>
  <div class="row cards">
    <ul>
      <% @cocktails.each do |cocktail| %>
        <% cocktail_name_array = cocktail.name.split(" ").each do |word| %>
          <% word.capitalize %>
        <% end %>

        <% cocktail_name = cocktail_name_array.join(" ") %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path cocktail.photo %>);">
          <li class="card-description"><h2><%= link_to cocktail_name, cocktail_path(cocktail.id) %></h2></li>
        </div>

      <% end %>
    </ul>
  </div>

  <div id="main_image"><p class="popup"><%= link_to "Create a new cocktail", new_cocktail_path %></p></div>
</div>

