<h1>Check out my amazing cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name.capitalize, cocktail_path(cocktail.id) %></li>
  <% end %>
</ul>

<p><%= link_to "Create a new cocktail", new_cocktail_path %></p>
