Specific CSS for your home-page
.container {
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  // url( <%= image_path "samuel-zeller-487534-unsplash.jpg" %> );
  position: fixed;
  background-color: grey;
  background-size: 20%;
  background-repeat: no-repeat;
}

h1 {
  color: white;
}
