.button {
  // background: (255, 255, 255, 0.1);
  border: 1px dotted white;
  color: white;
  margin: 30px;
  width: 120px;
  height: 120px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:before, .button:after {
  content: "";
  position: absolute;
  border: 1px dotted white;
  top: 0;
  left: 0;
  height: 120px;
  width: 120px;
  // background: (255, 255, 255, 0.8);
  }

.button:before {
  transform: rotate(30deg);
  }

.button:after {
  transform: rotate(60deg);
}
