.card {
  height: 200px;
  width: 300px;
  list-style-type: none;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid grey;
  // display: flex;
  flex-direction: column;
    a {
      color: white;
      a :hover {
        color: pink;
        decoration: none;
      }
    }
}

.cards {
  // position: relative;
  top: 90px;
  display: flex;
}
