.card {
  height: 200px;
  width: 300px;
  list-style-type: none;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // border: 1px solid grey;
  box-shadow: 5px 5px 10px grey;
  min-width: 240px;
  margin: 20px;
  // display: flex;
  a {
    color: white;
  }
  a:hover {
      color: pink;
      text-decoration: none;
    }
}
