.container {
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  background-image: image-url("right_side2.jpg");
  background-color: $light-gray;
  // background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
}

h1 {
  color: white;
}
