#main_image {
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  background-image: image-url("right_side2_crop.jpg");
  background-color: fuchsia;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 33%;
  height: 100vh;
  position: sticky;
  top: 0;
  // for button alignment:
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media(max-width: 720px) {
  #main_image {
  flex: 1 0 auto;
  position: sticky;
  top: 0;
  height: 100vh;
  }
}

