/* Main navbar */
.navbar {
  background: transparent;
  // transition: all 0.3s ease;
  height: 70px;
  padding: 0px 60px;
  display: flex;
  align-items: left;
  justify-content: space-around;
  position: absolute;
  top: 0;
  flex: 1 1 100%;
}

@media(max-width: 720px) {
  .navbar {
    width: 126.667px;
    margin: 0;
    flex: 1 1 auto;
  }
}

