/* Main navbar */
.navbar {
  background: transparent;
  // transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: left;
  justify-content: space-around;
  position: absolute;
  flex: 0 0 70%;
}
